$accent: #ff4b4b;
$background: #fff;

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 100dvw;
  height: 100dvh;


  font-family: "Source Sans Pro";
  background-color: rgba(240, 240, 240, 255);
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;

  &.small {
    max-width: 700px;
  }
}

button,
.button-link {
  padding: 10px 0px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: $accent;
  transition: opacity .1s linear;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &.button-link {
    @extend .no-style-link;
    text-align: center;
    color: #fff;
  }
}

a.no-style-link {
  text-decoration: none;
  color: inherit;
}
