@import "fonts.scss";
@import "common.scss";
@import "header.scss";

main.page-container {
  &>.double {
    margin-top: 150px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;

    p {
      line-height: 25px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    &>div>img {
      width: 250px;
      border-radius: 5px;
    }

  }

  &>.button-link {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 535px) {
  main.page-container {
    height: 100dvh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;

    &>.double {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;

      &>div,
      &>div>img {
        width: 100%;
      }
    }
  }
}
