@import "fonts.scss";
@import "common.scss";
@import "header.scss";

header {
  top: 0;
  position: absolute;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &>.question {
    font-size: 24px;
    padding-bottom: 20px;
  }

  &>.options {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &>.option {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &>button {
        padding: 10px 0px;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        background-color: $accent;
        transition: opacity .1s linear;

        &:hover {
          cursor: pointer;
          opacity: .8;
        }
      }

      &>.image {
        width: 350px;
        height: 350px;
        background: #000;

        background-image: var(--img);
        background-size: cover;

        border-radius: 5px;
      }
    }
  }

  &>.time-bar-outer {
    margin-top: 15px;

    &>.status {
      color: #000;

      &>span {}
    }

    &>.time-bar {
      background: rgba(230, 230, 230, 255);
      width: 100%;
      height: 10px;
      position: relative;
      margin-top: 5px;

      border-radius: 10px;
      overflow: hidden;

      &::after {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent;
      }
    }
  }
}
