@import "fonts.scss";
@import "common.scss";
@import "header.scss";

header {
  top: 0;
  position: absolute;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &>.question {
    font-size: 24px;
    padding-bottom: 20px;
  }

  &>.options {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 40px;

    &>.option {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &>button {
        padding: 10px 0px;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        background-color: $accent;
        transition: opacity .1s linear;

        &:hover {
          cursor: pointer;
          opacity: .8;
        }
      }

      &>img {
        width: 350px;
        height: 350px;
        background: #000;

        object-fit: cover;

        border-radius: 5px;
      }
    }

    &>.spinner {
      display: none;
    }

    &.loading {
      &>.option {
        visibility: hidden;
      }

      &>.spinner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background: #fff;
        }

        @keyframes rotation {
          0% {
            transform: translate(-50%, -50%) rotate(0deg)
          }

          100% {
            transform: translate(-50%, -50%) rotate(360deg)
          }
        }
      }
    }
  }

  &>.time-bar-outer {
    margin-top: 15px;

    &>.status {
      color: #000;

      &.exceeding {
        color: $accent;
      }
    }

    &>.time-bar {
      background: rgba(230, 230, 230, 255);
      width: 100%;
      height: 10px;
      position: relative;
      margin-top: 5px;

      border-radius: 10px;
      overflow: hidden;

      &::after {
        content: '';
        width: var(--progress);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent;
      }

      &.smooth::after {
        transition: all .2s linear;
      }
    }
  }
}
