main.page-container>.double {
	margin-top: 150px;
	margin-bottom: 15px;
	display: flex;
	gap: 15px;
}
main.page-container>.double p {
	line-height: 25px;
}
main.page-container>.double p:nth-child(1) {
	margin-top: 0;
}
main.page-container>.double>div>img {
	width: 250px;
	border-radius: 5px;
}
main.page-container>.button-link {
	display: inline-block;
	width: 100%;
}
@media (max-width: 535px) {
	main.page-container {
		height: 100dvh;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 80%;
	}
	main.page-container>.double {
		margin-top: 0px;
		flex-direction: column;
		align-items: center;
	}
	main.page-container>.double>div,
	main.page-container>.double>div>img {
		width: 100%;
	}
}
