<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home - Pictopercept</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="icon" href="/static/images/favicon.png">
</head>

<body>
	{% include 'header.html' %}
	<main class="page-container small">
		<div class="double">
			<img src="/static/images/changeface.gif" />
			<div>
				<p>
					Welcome to the PictoPercept survey! You'll see pairs of photos and a job title, like "Who of these
					is a
					teacher?" or "Who of these is a painter?" Pick the person you think fits the job more by clicking
					the
					button.
				</p>

				<p>
					Trust your instincts!
				</p>
			</div>
		</div>
		<a class="button-link" href="/survey">Let us begin!</a>
	</main>
</body>
<script src="/static/js/index.js"></script>

</html>
