<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Survey - Pictopercept</title>
	<link rel="stylesheet" href="/static/css/survey.css">
	<link rel="icon" href="/static/images/favicon.png">
</head>

<body>
	{% include 'header.html' %}
	<form>
		<div class="question" id="question">
			Who of these is <b>...</b>?
		</div>
		<div class="options loading" id="options">
			<div class="option" id="option0">
				<img src="" />
				<button type="button">Person 1</button>
			</div>
			<div class="option" id="option1">
				<img src="" />
				<button type="button">Person 2</button>
			</div>
			<div class="spinner"></div>
		</div>
		{% if time_bar_enabled %}
		<div class="time-bar-outer">
			<div class="status" id="time-bar-status">
				⏰ Try to answer as fast as possible.
				<span id="time-taken"></span>
			</div>
			<div class="time-bar smooth" id="time-bar" style="--progress:0%;"></div>
		</div>
		{% endif %}
	</form>

</body>
<script>
	const datasetUrl = "{{dataset_url}}"
	const surveyQuestionRaw = {{question | safe}}
	const images = {{image_urls | safe}}
	const jobs = {{occupations | safe}}
	const timeBarEnabled = "{{time_bar_enabled| safe}}" === "True";
</script>
<script src="/static/js/question.js"></script>
<script src="/static/js/survey.js"></script>

</html>
